<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/e564244708.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="diseño/css/styles.css">
    </head>
    <body>
        <div class="ui container">
            <div class="ui secondary  menu">
                <div class="item logo">
                    <a href="/Practica-01-JSP-Servlets-Jdbc"><h2><span>Agenda</span>Telefonica</h2></a>
                </div>

                <div class="right menu">
                    <div class="item">
                        <form action="busqueda">
                            <div class="ui left icon action input">
                                <i class="users icon"></i>
                                <input type="text" placeholder="Buscar..." name="usuario">
                                <input type="submit" class="ui blue submit button" value="Buscar">
                            </div>
                        </form>
                    </div>
                    <div class="item">
                        <a href="registro" class="ui primary button">Registro</a>
                    </div>
                    <div class="item">
                        <a href="login" class="ui button">Iniciar Sesion</a> 
                    </div>
                </div>
            </div>


            <div class="placeholder segment">
                <div class="ui two column very relaxed stackable grid">
                    <div class="column">
                        <form class="ui form" method="POST">

                            <div class="field">
                                <label>Nombre</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Ingresa tu nombre" name="nombre" required="">
                                    <i class=""></i>
                                </div>
                            </div>

                            <div class="field">
                                <label>Apellido</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Ingresa tu apellido" name="apellido" required="">
                                    <i class=""></i>
                                </div>
                            </div>

                            <div class="field">
                                <label>Cedula</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="10 digitos" name="cedula" required="" maxlength="10" minlength="10" pattern="[0-9]+">
                                    <i class=""></i>
                                </div>
                            </div>

                            <div class="field">
                                <label>Correo</label>
                                <div class="ui left icon input">
                                    <input type="email" placeholder="ejemplo@ejemplo.com" name="mail" required="">
                                    <i class=""></i>
                                </div>
                            </div>

                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <input type="password" placeholder="ingrese su contraseña" name="pass" required="">
                                    <i class=""></i>
                                </div>
                            </div>
                            <input type="submit" class="ui blue submit button" value="Registrarme">

                        </form>
                    </div>
                    <div class="middle aligned column">
                        <a href="login" class="ui big button">
                            <i class=""></i>
                            Iniciar Sesion
                        </a>
                    </div>
                </div>
                <div class="ui vertical divider">
                    O
                </div>
            </div>
        </div>

        <footer>
            
            <p>&COPY; Todos los derechos reservados | Designed By Marcelo Durazno</p>
        </footer>
    </body>
</html>
